h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

.textarea{
		width: 200px;
	height: 300px;
}


body{
	background-image: url("img/surf.jpg"); 
	/*width: 200px;
	height: 300px;*/
	background-size: cover;
}

.navbar-expand-lg{
	background-color: #F8F8F8;
}


a.button{
		display:block;
		color:#white;
		font-weight:bold;
		height:30px;
		line-height:29px;
		margin-left:650px;
		width:191px;
	}