h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
body{
	background-image: url("img/surf.jpg"); 
	/*width: 200px;
	height: 300px;*/
	background-size: cover;
}

video{
	width: 30%;
	height: 80%;
}