.profilePicture{
	width: 10%;
	height: 50%;
	/*border-radius: 50px;*/
}
header {
	font-family: "Time New Roman";
}

body {
  background-image: "img/vagues.jpg"; 
}

h1 {
	color: white;
    text-align: center;
}

body{
	background-image: url("img/surf.jpg"); 
	/*width: 200px;
	height: 300px;*/
	background-size: cover;
}

textarea{
	color: white;
	background-color: transparent;
	margin-left: 25%;
}


h2{
	color: white;
    text-align: center;
}

h3{
	color: white;
    text-align: center;
}

textarea{
	color: white;
	background-color: transparent;
	margin-left: 25%;
}

/*ANIMATION*/

/*body {
  font: 20px Arial;
  text-align: center;
  margin-top: 6em;
}*/

h4 {
  color: green;
  animation: bounce .5s alternate 0.1s infinite ease-in;
  text-align: center;
}


@keyframes bounce {
  100% {
    transform: translateY(-200%);
  }
  0% {
    transform: translateY(0);
  }
}




/*Animation photo qui rebondit (non fonctionnelle)*/

/*.profilePictureBounce{
	animation: bounce .5s alternate 0.1s infinite ease-in;
}

@keyframes bounce {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}*/